.cart-sidebar {
  position: fixed;
  top: 0;
  right: -350px;       /* hidden by default */
  width: 350px;
  height: 100%;
  background-color: #111;
  color: white;
  padding: 20px;
  transition: right 0.35s ease-in-out;
  box-shadow: -3px 0 10px rgba(0,0,0,0.5);
  z-index: 9999;
}

/* When open */
.cart-sidebar.open {
  right: 0;           /* slide in */
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  float: right;
}

.cart-item {
  padding: 10px 0;
  border-bottom: 1px solid #444;
  display: flex;
  justify-content: space-between;
}

.cart-total {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

.clear-btn {
  margin-top: 15px;
  padding: 10px 15px;
  width: 100%;
  background-color: #d4af37;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: bold;
}
.checkout-btn {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background: #d4af37;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.checkout-btn:hover {
  background: #f0c949;
}
